<!DOCTYPE html>
<html>
<head>
    <title>NextTrace Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/m.css" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/settingsmenu.js" defer></script>
</head>
<body>
<h1>NextTrace Web</h1>
<form>
    <label for="params">
        <input type="text" id="params" placeholder="IP/Domain/URL" onkeydown="handleKeyPress(event)">
    </label>
    <label for="ipVersion"></label>
    <select id="ipVersion" name="protocol">
        <option value="all">ALL</option>
        <option value="ipv4">IPv4</option>
        <option value="ipv6">IPv6</option>
    </select>
    <label for="protocol"></label>
    <select id="protocol" name="protocol">
        <option value="icmp">ICMP</option>
        <option value="tcp">TCP</option>
        <option value="udp">UDP</option>
    </select>
    <button type="button" onclick="startNexttrace()">Start Nexttrace</button>
    <button type="button" onclick="stopNexttrace()">Stop Nexttrace</button>
    <button type="button" onclick="resetForm()">Reset</button>
    <button id="settingBtn">Settings</button>
    <div id="settingMenu" class="floating-menu">
        <label for="language">Language:</label>
        <select id="language" name="language">
            <option value="cn">Chinese</option>
            <option value="en">English</option>
        </select>
        <br>
        <label for="intervalTimeSlider">Probe Interval Seconds:</label>
        <div id="intervalTimeSlider" class="block-container">
        <input type="range" id="intervalTimeRange" min="0.005" max="1" step="0.001" value="0.040">
        <input type="number" id="intervalTimeInput" min="0.005" max="1" step="0.001" value="0.040">
        </div>
        <br>
        <label for="packetSizeSlider">Packet Size:</label>
        <div id="packetSizeSlider" class="block-container">
        <input type="range" id="packetSizeRange" min="0" max="1500" step="1" value="52">
        <input type="number" id="packetSizeInput" min="0" max="1500" step="1" value="52">
        </div>
        <br>
        <label for="maxHopInput">Max Hop:</label>
        <input type="number" id="maxHopInput" min="1" max="30" step="1" value="30">
        <br>
        <label for="minHopInput">Min Hop:</label>
        <input type="number" id="minHopInput" min="1" max="30" step="1" value="1">
        <br>
        <label for="portInput">Port:</label>
        <input type="number" id="portInput" min="1" max="65535" step="1" value="80">
        <br>
        <label for="devInput">Device:</label>
        <input type="text" id="devInput" placeholder="Device">
        <br>
        <label for="localResolveCheckbox" class="block-container">
            <input type="checkbox" id="localResolveCheckbox" checked>
            LOCAL RESOLVE
        </label>
        <!--若不使用本地解析，将会在域名有多IP的时候卡死-->
        <br>
        <button id="saveBtn">Save</button>
    </div>
    <div id="ipSelector" class="modal-content">
        <span class="close">&times;</span>
        <p>请选择一个IP地址:</p>
        <div id="ip-list"></div>
    </div>
</form>
<table id="output" class="pingtable">
    <tbody>
    <tr>
        <th>HOP</th>
        <th>IP</th>
        <th>ASN</th>
        <th>LOCATION</th>
        <th>DOMAIN</th>
        <th>LOSS%</th>
        <th>SENT</th>
        <th>LAST</th>
        <th>AVG</th>
        <th>BEST</th>
        <th>WORST</th>
        <th>STDEV</th>
        <th>PTR</th>
        <!-- 暂时搁置       <th>CHART</th>-->
    </tr>
    <!-- Data rows will be dynamically inserted here -->
    </tbody>
</table>
</body>
</html>
